<tr>
    @if (this.Columns.Any())
    {
        <td></td>
        @foreach (Model.Column column in this.Columns)
        {
            <Column Value="@column" ToggleChanged="@this.SelectionChanged"/>
        }
    }
</tr>

@code
{
    [Parameter]
    public IReadOnlyList<Model.Column> Columns { get; set; } = new List<Model.Column>();

    [Parameter]
    public EventCallback SelectionChanged { get; set; }
}