<td @onclick="@this.Toggle" class="@this.GetClass()">@this.GetSelection()</td>

@code
{
    [Parameter]
    public Model.Column Value { get; set; }

    [Parameter]
    public EventCallback ToggleChanged { get; set; }

    private async Task Toggle()
    {
        this.Value.IsSelected = !this.Value.IsSelected;
        await this.ToggleChanged.InvokeAsync(null).ConfigureAwait(true);
    }

    private string GetSelection() => this.Value.IsSelected ? "(x)" : "( )";

    private string GetClass() => this.Value.IsSelected ? "column-selected" : "";
}
