@page "/table"
@inject TableService TableService

<h1>Table</h1>

@if (this.model == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <tbody>
        <ColumnSelection Columns="@this.model.Columns" SelectionChanged="@this.Render"/>
        @foreach (Model.Row row in this.model.Rows)
        {
            <Row Value="@row" Columns="@this.model.Columns"/>
        }
        </tbody>
    </table>
}

@code
{
    private Model? model;

    protected override async Task OnInitializedAsync()
    {
        this.model = await this.TableService.Load().ConfigureAwait(false);
    }

    public Task Render() => this.InvokeAsync(this.StateHasChanged);
}